---
layout: default
fixed_header: true
---
<div class="introduction__container u-flex-center u-full-page">
	<div class="circle">
		<section class="introduction">
			<h1 class="introduction__name">Meet Kimberly Mu&ntilde;oz</h1>
			<p>Kimberly is a software developer in California.</p>
			<div class="social-media">
				{% if site.github_username %}
	        {% include icon-github.html username=site.github_username %}
	      {% endif %}
	      {% if site.twitter_username %}
	        {% include icon-twitter.html username=site.twitter_username %}
	      {% endif %}
		</section>
	</div>
</div>

