---
layout: default
---
<section class="introduction">
	<img class="introduction__image" src="/img/kimberly-munoz-painted-by-scout.jpg" alt="Painting of Kimberly by Scout">
	<div class="introduction__content">
		<h1 class="introduction__name">Kimberly Mu&ntilde;oz</h1>
		<h2>
				Web developer, Californian,<br>
			  Would do anything for Selena
		</h2>
		<p>
			Kimberly is a software developer in California
			specializing on accessibility and front-end performance.
			She currently spends her days working at 
			<a href="https://www.slack.com/">Slack</a>.
		</p>
		<p>
			In the past, she has worked at 
			<a href="http://www.consumerfinance.gov">Consumer Financial Protection Bureau</a>
			and passion projects like
			<a href="http://www.tinyletter.com/latinasintech">Latinas in Tech newsletter</a>,
			<a href="http://techqueria.org">Techqueria</a>.
		<div class="social-media">
			{% if site.github_username %}
		    {% include icon-github.html username=site.github_username %}
		  {% endif %}
		  {% if site.twitter_username %}
		    {% include icon-twitter.html username=site.twitter_username %}
		  {% endif %}
		</div>
	</div>
</section>
