/* Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */


body{
	font-family: 'Open Sans', serif;
	background-color: black;
}

h1 {
    font-family: 'Yanone Kaffeesatz','Alegreya', serif;
    font-weight: 700;
    line-height: 1.5em;
    font-size: 1.5em;
    margin: 0 0 .5em 0;
    }
h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
    }
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }



p{
	margin-bottom: 15px;
	line-height: 20px;
	font-size: 16px;
}

p:last-child{
	margin-bottom: 0;
}

/* And now the good stuff - Mobile Version */


.background {
	display:none;
	
}
.cc-holder{
	width:90%;
	margin:5% auto;
	
}
.callingcard {
	width:auto;
	margin: 20px;
	padding:20px;
}


.quickbio{
	color: white;
	width:auto;
	margin: 20px;
	padding:20px;
}

.myname{
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 15px;
	text-align: center;
	color:white;
}

.myem{
	font-size: 18px;
	margin-bottom: 15px;
	font-style: italic;
	font-family: "Open Sans";
	font-weight: 300;
	text-align: center;
	color:white;
}

.beingsocial{
	color:white;
	margin: 0 auto;
	width:auto;
	text-align: center;
}

.beingsocial a{
	text-decoration: none;
	color: white;
	margin-right: 5px;
	margin-left: 5px;
}


/* Tablet and Above */

@media only screen and (min-width: 680px) {
.background {
	display:block;
	position: fixed; 
	top: -50%; 
  	left: -50%; 
  	width: 200%; 
  	height: 200%;
	background-color: black;
	z-index: -1;
}
.background img{
  	position: absolute; 
  	top: 0; 
  	left: 0; 
  	right: 0; 
  	bottom: 0; 
  	margin: auto; 
  	min-width: 50%;
  	min-height: 50%;
  	opacity:.5;
}

.cc-holder{
	width:500px;
	margin:10% auto;
	
}

}


/* LT-IE9 Styles */
.background{
	/*Stick in things because cover won't work here
}