<header class="site-header {% if page.fixed_header %} site-header__fixed {% endif %}">
  <nav class="u-wrapper">
    <ul class="nav_items">
      <li>
        <a class="nav_link nav_brand" href="/">Kimberly Muñoz</a>
      </li>
      <li>
        <a class="nav_link nav_item" href="/about/">About</a>
      </li>
      <li>
        <a class="nav_link nav_item" href="/speaking/">Speaking</a>
      </li>
      <li>
        <a class="nav_link nav_item" href="/blog/">Blog</a>
      </li>
      <li>
        <a class="nav_link nav_item" href="mailto:hi@kimberlymunoz.com">Contact Me</a>
      </li>
    </ul>
  </nav>
</header>
