<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %} Kimberly Munoz</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Yanone+Kaffeesatz:400,700|Open+Sans:400italic,400,300,700|Open+Sans+Condensed:300,700,300italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="author" href="humans.txt" />

  <meta property="og:title" content="{% if page.title %}{{ page.title | smartify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.name }}{% endif %}">
  <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image" content="{% if page.lead_image_url %}{{ page.lead_image_url | prepend: '/img/' | prepend: site.baseurl | prepend: site.url }}{% else %}{{ '/img/kimberly-munoz-painted-by-scout.jpg' prepend: site.baseurl | prepend: site.url }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | markdownify | strip_html | strip_newlines | truncate: 160 | escape_once }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.name }}">
</head>
