<header class="site-header {% if page.fixed_header %} site-header__fixed {% endif %}">
  <nav>
    <ul class="nav_items">
      <li>
        <a class="nav_link nav_brand" href="/">Kimberly Muñoz</a>
      </li>
      <li>
        <a class="nav_link nav_item" href="/about/">About</a>
      </li>
      <li>
        <a class="nav_link nav_item" href="https://slides.com/kimberlymunoz/">Presentations</a>
      </li>
      <li>
        <a class="nav_link nav_item" href="mailto:hi@kimberlymunoz.com">Contact Me</a>
      </li>
    </ul>
  </nav>
</header>


