/**
 * Site header
 */
.site-header {
  background-color: $black;
  color: $background-color;
}

.nav_brand {
  display: block;
  flex-grow: 2;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
}

nav {
  margin: 0;
  padding: 1em;
  width: 100%;
  text-align: center;

  ul {
    list-style: none;
    margin: 0;
  }

  a,
  a:hover,
  a:visited,
  a:active {
    color: #fff;
  }

  a:hover,
  a:active {
    text-decoration: underline
  }
}


@include respond-to-min($med-min) {
  nav ul {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    min-height: 50px;
  }

  .nav_item {
    line-height: 30px;
  }

  .site-header__fixed {
    position: absolute;
    width: 100%;
  }
}


/**
 * Page content
 */
.content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



