// This file must be imported before loading html5-boilerplate

// base
$line-height: 1.4 !default;
$main-font:"Open Sans", sans-serif;
$font-color: #fff !default;

$link-color: #00e !default;
$link-hover-color: #06e !default;
$link-visited-color: #551a8b !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

//Mah Fonts
$header: "Yanone Kaffeesatz", "Alegreya", serif;
$small-header: "Open Sans Condensed", sans-serif;



//Tyler's Color Pallete 
$blue: #4171af;
$orange: #f6af63;
$dark-grey: #515151;
$light-blue: #52a2d5;
// This is for the header (mobile only)
$grey: #e8e8e8;
$white: #ffffff;
$Avenir: "AvenirLT-Medium";
$Avenir-Bold: "AvenirLT-Heavy";


