*, *:before, *:after {
  -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}

body, select, input, textarea {
  color: $font-color;
  font-family: $main-font;
  background: black;
  font-size: 16px;
  line-height: 24px;
}

img {max-width:100%;}


input[type="text"]{
	border:1px solid black;
	padding: 3px 5px;
	font-size: 12px;
	height: 24px;
	color: $font-color;
}

.button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	line-height: 1.33;
	border-radius: 6px;
	padding: 15px 30px;
	font-size: 20px;
	.outline {
		color: #fff;
		background-color: transparent;
		border-color: #cdbfe3;
	}
	.outline:hover, .outline:focus, .outline:active {
	color: #563d7c;
	text-shadow: none;
	background-color: #fff;
	border-color: #fff;
	}
}

nav {
	ul {list-style:none; padding:0}
	li {display:inline-block;padding:0 5px;border-left: 1px solid $font-color;}
	li:first-child{border-left: none;}
	clear:both;
}

nav.nav-collapse{
	li{border:none; margin:5px -10px;text-align:right;}
	li a, li a:visited {text-decoration:none; color: $blue}
}



header {
	
}

h1 {
    font-family: $header;
    font-weight: 900;
    line-height: 3rem;
    font-size: 50px;
    font-size: 2.5rem;
    margin: 0 0 15px 0;
    margin: 0 0 .5rem 0;
    text-align: center;
    text-shadow: 0 0 8px rgba(0,0,0,0.7);
}
h3 {
    font-family: $small-header;
    font-weight: normal;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
    text-shadow: 0 0 8px rgba(0,0,0,0.7);
    }
p {
    font-family: $main-font;
}

p:last-child{
	margin-bottom: 0;
}

/* And now the good stuff - Mobile Version */

section {
	padding: 10% 15%;
	
}


.callingcard {
	text-align: center;

	.myem{
		font-size: 18px;
		margin-bottom: 15px;
		font-style: italic;
		font-family: $main-font;
		font-weight: 300;
		
	}
	.quickbio {
		width:auto;
		margin: 20px;
		padding:20px;
	}

}


.twitter-follow{
		margin:0 auto;
		text-align: center;
}





.beingsocial{
	color:white;
	margin: 0 auto;
	width:auto;
	text-align: center;
}

.beingsocial a{
	text-decoration: none;
	color: white;
	margin-right: 5px;
	margin-left: 5px;
}


/* Tablet and Above */

@media only screen and (min-width: 680px) {
	.intro-section {
		background: #000 url("../img/Kimberly_Munoz_-_US_Capitol.jpg") no-repeat center;
		background-size: cover;
		overflow:hidden;
		
	}
	.callingcard{
		background: rgba(0,0,0,0.7);
		width: 525px;
		margin: 0 auto;
		padding: 15px;
		border-radius: 25px;
	}

	section p {
		width:500px;
		margin:0 auto 1em;
	}

}

